- breadcrumb :contact
- content_for :title, 'Contact'

%h1 Contact Me

%p
  I'm always open to new contacts and willing to work with people on various projects.
  Money is not necessary to make me interested in working with you. All you need is a
  desire to work with somebody on an interesting project or just spend some time pair
  programming.
%p The easiest ways to contact me are the following:

%ul
  %li= link_to 'Skype', '#'
  %li= link_to 'Email', '#'
  %li= link_to 'Twitter', '#'
