- content_for :title, 'Home'

%h1 Slava Pavlutin

%p
  Hi, I'm slava Pavlutin. I'm a web developer. I work with Ruby, Rails, JavaScript,
  HTML5, SASS, and CoffeeScript.
  I'm also an author of many popular Ruby libraries such as Flip, Jumble, and Kitkat.

%h2 I contribute to
= image_tag 'laptop.svg'
%ul
  %li Rails
  %li Jekyll

%h2 I'm an author of
%ul
  %li Flip
  %li Kitkat
