body {
  font-family: "Myriad Pro", sans-serif;
  background-color: $red;
  color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

a {
  color: $red;
  text-decoration: none;

  &:hover, &:active {
    color: $red-dark;
  }
}

blockquote {
  font-family: Georgia;
  font-style: italic;
  color: $grey;
}

code {
  display: inline-block;
  padding: 1em;
  border-left: 1em solid $grey-dark;
  background-color: $red;
  color: $white;
}
