body {
  font-family: $base-font;
  background-color: $red;
  color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

p {
  margin: $paragraph-spacing auto;
}

a {
  text-decoration: none;
  color: $red;

  &:hover, &:active {
    color: $red-dark;
  }
}

blockquote {
  font-family: Georgia;
  font-style: italic;
  color: $grey;
}

// Code

code {
  display: inline-block;
  padding: $paragraph-spacing;
  border-left: $paragraph-spacing solid $grey-dark;
  background-color: $red;
  color: $white;
}

// Forms

label {
  cursor: pointer;
  &:hover {
    color: $grey;
  }
}
