body {
  font-family: "Myriad Pro", sans-serif;
  background-color: $red;
  color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

a {
  color: $red;
  text-decoration: none;

  &:hover, &:active {
    color: $red-dark;
  }
}
