.btn {
  @include button($grey-dark, $red);
}

.breadcrumbs, .settings {
  @include reset-list;
  overflow: hidden;

  li {
    float: left;
    margin-right: 1em;
  }
}

.heading {
  padding-left: 0.5em;
  margin-left: -0.7em;
  border-left: 0.2em solid $grey-dark;
}
