.header {
  @include container;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom: 2px solid $red;
  color: $grey-dark;

  nav {
    ul {
      float: right;
      @include reset-list;
    }

    li {
      float: left;
      a {
        display: block;
        padding: 2em 1em;
        transition: all .3s;
        &:hover, &.active {
          background-color: $red;
          color: $white;
        }
      }
    }
  }


  .logo {
    float: left;
    padding: 1em 0;
    img {
      width: 3em;
      vertical-align: middle;
    }
  }


  a {
    color: $grey-dark;
    &:hover {
      color: $red;
    }
  }
}

.footer {
  @include container;
  clear: both;
  color: $red-dark;
  text-shadow: -1px 1px $red-light;
  text-align: center;

  h1, h2, h3, h4, h5, h6, a {
    color: $red-dark;
  }

  a:hover {
    text-shadow: none;
    color: $white;
  }

  ul {
    @include reset-list;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }

  small {
    clear: both;
    display: block;
    text-align: center;
  }
}

.content {
  @include container;
  background-color: $white;
  padding-bottom: 3em;
  font-size: 1.8em;
  img {
    width: 300px;
  }
}

.nav {
  @include container;
  background-color: #fafafa;
  overflow: hidden;
  text-align: right;
  font-size: 1.1em;
  border-bottom: 2px solid #eee;
  color: $grey;

  a, .fa {
    color: $grey-dark;

    &:hover {
      color: $grey;
    }
  }

  .settings, .breadcrumbs {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  .settings { float: right; }
  .breadcrumbs { float: left; }
}
