.post {
  .post-title {
    margin-bottom: 0.3em;
  }

  .post-meta {
    font-size: 0.8em;
    color: $grey;
  }

  .post-img {
    float: right;
  }

  .post-content {
    margin-left: 0;
    max-width: 900px;
  }
}

.posts {
  ul { @include reset-list; }
  li { margin: $block-spacing 0; }
}

.post-new {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  div {margin-top: 1em;}

  input[type=text], textarea {
    border: none;
    border-bottom: 2px dashed $grey;
    outline: none;
    color: $grey;

    &:focus {
      color: $grey-dark;
      border-color: $grey-dark;
      border-bottom-style: solid;
    }
  }

  textarea {
    display: block;
    width: 100%;
    min-height: 400px;
    height: auto;
  }
}
