// colors

$black: #111;
$white: #fff;

$blue: #08f;

$red: #ed1c24;
$red-dark: #bd1c24;
$red-light: lighter($red, 20%);

$grey: #bbb;
$grey-light: #eee;
$grey-dark: #333;

@mixin container {
  padding: 1px 10%;
}

@mixin clearing {
  &:after {
    content: '.';
    width: 0;
    clear: both;
  }
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin button($color, $hover_color: darken($color, 20%)) {
  display: inline-block;
  padding: .5em 1em;
  border: 2px solid $color;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  color: $color;
  background-color: transparent;

  &:hover {
    border-color: $hover_color;
    color: $hover-color;
  }
}
